.notifications-popup-container {
  padding: 12px;
  .notification-toast {
    background-color: rgba($surface, 0.9);
    border: 1px solid $accent;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    color: $text;
    .title { font-weight: bold; }
  }
}
