.overview {
    background-color: rgba($base, 0.9);
    padding: 32px;

    .workspace-box {
        background-color: $surface;
        border: 1px solid $overlay;
        border-radius: 6px;
        margin: 8px;
        padding: 14px;

        &.active {
            border-color: $accent;
        }
    }
}
