#window {
  background-color: #191724;
  color: #e0def4;
  border: 2px solid #c4a7e7;
  border-radius: 8px;
}
#search {
  background-color: #1f1d2e;
  color: #e0def4;
  border-bottom: 1px solid #403c54;
}
#item:selected {
  background-color: #26233a;
  color: #ebbcba;
}
