#window {
  background-color: #282828;
  color: #ebdbb2;
  border: 2px solid #fabd2f;
  border-radius: 8px;
}
#search {
  background-color: #3c3836;
  color: #ebdbb2;
  border-bottom: 1px solid #504945;
}
#item:selected {
  background-color: #504945;
  color: #fabd2f;
}
