#window {
    background-color: rgba(0, 0, 0, 0.95);
    border: 1px solid #333333;
    border-radius: 8px;
    color: #ffffff;
}
#entry {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #222222;
    border-radius: 6px;
}
#item:selected {
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
}
