* {
  font-family: "CaskaydiaMono Nerd Font Propo ";
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar,
window#waybar>box {
  background: rgba(17, 17, 27, 0.6);
  padding: 5px 6px;
  /* border-top: 3px solid #cba6f7; */
}

tooltip {
  background: rgba(17, 17, 27, 0.6);
}

tooltip label {
  color: #cdd6f4;
  margin: 0 2px;
}

menu {
  border-radius: 0px;
  background: #161320;
  padding: 4px 4px;
  box-shadow: none;
}

menuitem {
  padding: 8px 8px;
  margin: 2px 5px;
}

menuitem:hover {
  background-color: #f38ba8;
  color: #11111b;
}

#workspaces,
#custom-theme-toggle,
#pulseaudio,
#backlight,
#battery,
#custom-wifi,
#bluetooth,
#custom-power,
#idle_inhibitor,
#clock,
#mpris,
#tray,
#custom-notification,
#custom-group-right-logo,
#custom-cpu,
#custom-memory,
#temperature {
  color: #cdd6f4;
  background: transparent;
  padding: 2px 9px;
  margin: 0 2px;
}

/* Workspaces */
#workspaces {
  color: #f5e0dc;
}

#workspaces button {
  color: #b4befe;
  padding: 2px 4px;
  margin: 0 3px;
  border-radius: 2px;
}

#workspaces button.active {
  background: lavender;
  color: #000000;
  font-weight: bolder;
  text-decoration: underline;
}

#workspaces button.active:hover {
  background: #94e2d5;
  color: #181825;
}

#workspaces button:hover {
  color: #f38ba8;
}

/* Hover effects */
#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-wifi:hover,
#clock:hover,
#mpris:hover,
#custom-cpu:hover,
#custom-memory:hover,
#temperature:hover {
  color: #f9e2af;
}

/* Individual Module Colors */
#custom-power {
  color: #eba0ac;
}

#pulseaudio {
  color: #94e2d5;
}

#battery {
  color: #74c7ec;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
}

#custom-wifi {
  color: #89dceb;
}

#bluetooth {
  color: #f5c2e7;
}

#mpris {
  color: #a6e3a1;
}

#idle_inhibitor {
  color: #b4befe;
}

#clock {
  color: #fab387;
}

#custom-theme-toggle {
  color: #fab387;
  background: transparent;
}

#custom-group-right-logo {
  color: #a6e3a1;
  padding-right: 20px;
}

/* New system stats modules */
#custom-cpu {
  color: #cba6f7;
}

#custom-memory {
  color: #a6e3a1;
}

#temperature {
  color: #f38ba8;
}
